.footer_container{
    background-color: #F37021;
    height: 68px;
    display: flex;
    justify-content: space-around;
}

.left_footer{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}

.right{
   
    display: flex;
    justify-content: space-around;
}